<nav class="navbar" style="background-color: #24a2b8;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/logo.webp" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      TV Series
    </a>
  </div>
</nav>
<div class="container text-left">
  <div class="row">
    <div class="col">
      <table class="table">
          <thead>
             <tr>
                <th>#</th>
                <th>Name</th>
                <th>Channel</th>
                <th>Seasons</th>
             </tr>
          </thead>
          <tbody class="table-light" id="series"></tbody>
      </table>
      <div class="row justify-content-start">
          <h6 class="col" >Seasons average:</h6>
          <h6 class="col" id="average-seasons"></h6>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img id="serieImage" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="seriesName"></h5>
            <p class="card-text" id="seriesDescription"></p>
            <a class="card-text" id="seriesLink"></a>

          </div>
        </div>
    </div>
  </div>
</div>